assets/
assets_deprecated/
devel/
documents/
figure/
output/
reproduce/
resources/
site_libs/

# .gitignore

# */
# !input/


# !/README.md
# !/LICENSE


# !/input/

# !input/
# !/input/*
# !/input/sample.gpx
